HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Logs ###
logs/
*.log

### Temporary Files ###
*.tmp
*.bak
*.swp
*~

### Custom ###
.env
.env.*
*.env
!.env.example
*.mv.db
*.trace.db
.DS_store
.claude

### AWS EC2 Environment/Sensitive Files ###
AWS EC2/deploy-kubernetes/base/secrets.yaml
AWS EC2/deploy-kubernetes/ingress/ip-whitelist-middleware.yaml
AWS EC2/deploy-docker-compose/nginx/ssl/*.key
AWS EC2/deploy-docker-compose/nginx/ssl/*.crt

beadv4-4-Refactoring-FE-Deploy/
