HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Logs ###
logs/
*.log

# Kubernetes / k3s 관련 런타임 데이터 제외 / 쿠버네티스 접근 인증 정보 파일 제외
k3s/
*.kubeconfig

# k6 부하 테스트 결과 리포트 제외
k6/reports/
k6/*.html
k6/*.json

### Temporary Files ###
*.tmp
*.bak
*.swp
*~

### Custom ###
.env
.env.*
*.env
!.env.example
*.mv.db
*.trace.db
.DS_store
.claude

### AWS EC2 Environment/Sensitive Files ###
AWS EC2/deploy-kubernetes/base/secrets.yaml
AWS EC2/deploy-kubernetes/ingress/ip-whitelist-middleware.yaml
AWS EC2/deploy-docker-compose/nginx/ssl/*.key
AWS EC2/deploy-docker-compose/nginx/ssl/*.crt

beadv4-4-Refactoring-FE-Deploy/
